@*Define model*@
@model IEnumerable<Cinema>

@*Define ViewData*@
@{
	ViewData["Title"] = "List of Cinemas";
}

@*Write Code*@

<main class="container">
	<section class="content-grid">
		@foreach (var item in Model)
		{
			<div>
				<a asp-action="Details" asp-route-id="@item.Id">
					<img src="@item.Logo" alt="@item.Name" />
					<p>@Html.DisplayFor(modelItem => item.Name)</p>
					<p>@Html.DisplayFor(modelItem => item.Description)</p>
				</a>
			</div>
		}
	</section>
</main>

@await Html.PartialAsync("_CreateItem", "Cinemas")